PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioCuenta/Cuenta1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8086/Pictionary/Cuenta?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" />
  <xs:element name="SolicitarCodigoVerificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="nuevaCuenta" nillable="true" type="q1:NuevaCuentaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCodigoVerificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="SolicitarCodigoVerificacionResult" nillable="true" type="q2:ResultadoSolicitudCodigoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReenviarCodigoVerificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="solicitud" nillable="true" type="q3:ReenvioCodigoVerificacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReenviarCodigoVerificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="ReenviarCodigoVerificacionResult" nillable="true" type="q4:ResultadoSolicitudCodigoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarCodigoVerificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="confirmacion" nillable="true" type="q5:ConfirmacionCodigoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarCodigoVerificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="ConfirmarCodigoVerificacionResult" nillable="true" type="q6:ResultadoRegistroCuentaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="nuevaCuenta" nillable="true" type="q7:NuevaCuentaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="RegistrarCuentaResult" nillable="true" type="q8:ResultadoRegistroCuentaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>