PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioListaAmigos/ListaAmigos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8086/Pictionary/ListaAmigos?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" />
  <xs:element name="ObtenerListaAmigos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jugadorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaAmigosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="ObtenerListaAmigosResult" nillable="true" type="q1:ArrayOfAmigoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudRecibida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="solicitud" nillable="true" type="q2:SolicitudAmistadNotificacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudActualizada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="solicitud" nillable="true" type="q3:SolicitudAmistadEstadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmigoAgregado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="amigo" nillable="true" type="q4:AmigoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmistadEliminada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="amistadEliminada" nillable="true" type="q5:AmistadEliminadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>