PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioListaAmigos/ListaAmigos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAmigoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AmigoDTO" nillable="true" type="tns:AmigoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAmigoDTO" nillable="true" type="tns:ArrayOfAmigoDTO" />
  <xs:complexType name="AmigoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmigoDTO" nillable="true" type="tns:AmigoDTO" />
</xs:schema>