PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioListaAmigos/ListaAmigos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8086/Pictionary/ListaAmigos?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ListaAmigosDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Amigos" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Jugador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperacionExitosa" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaAmigosDTO" nillable="true" type="tns:ListaAmigosDTO" />
</xs:schema>