PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioListaAmigos/ListaAmigos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAmigoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AmigoDTO" nillable="true" type="tns:AmigoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAmigoDTO" nillable="true" type="tns:ArrayOfAmigoDTO" />
  <xs:complexType name="AmigoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvatarId" type="xs:int" />
      <xs:element minOccurs="0" name="AvatarRutaRelativa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdJugador" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmigoDTO" nillable="true" type="tns:AmigoDTO" />
  <xs:complexType name="SolicitudAmistadNotificacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestinatarioId" type="xs:int" />
      <xs:element minOccurs="0" name="Remitente" nillable="true" type="tns:AmigoDTO" />
      <xs:element minOccurs="0" name="RemitenteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudAmistadNotificacionDTO" nillable="true" type="tns:SolicitudAmistadNotificacionDTO" />
  <xs:complexType name="SolicitudAmistadEstadoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aceptada" type="xs:boolean" />
      <xs:element minOccurs="0" name="DestinatarioId" type="xs:int" />
      <xs:element minOccurs="0" name="RemitenteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudAmistadEstadoDTO" nillable="true" type="tns:SolicitudAmistadEstadoDTO" />
  <xs:complexType name="AmistadEliminadaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmigoId" type="xs:int" />
      <xs:element minOccurs="0" name="JugadorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmistadEliminadaDTO" nillable="true" type="tns:AmistadEliminadaDTO" />
</xs:schema>