PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioInvitaciones/Invitaciones.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8521/Pictionary/Invitaciones?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" />
  <xs:element name="EnviarInvitacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="invitacion" nillable="true" type="q1:InvitacionSalaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarInvitacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="EnviarInvitacionResult" nillable="true" type="q2:ResultadoOperacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>