PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioSalas/Salas2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8519/Pictionary/Salas?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" />
  <xs:element name="CrearSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCreador" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="configuracion" nillable="true" type="q1:ConfiguracionPartidaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="CrearSalaResult" nillable="true" type="q2:SalaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirseSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSala" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirseSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="UnirseSalaResult" nillable="true" type="q3:SalaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSalas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSalasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="ObtenerSalasResult" nillable="true" type="q4:ArrayOfSalaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbandonarSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSala" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbandonarSalaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JugadorSeUnio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSala" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JugadorSalio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSala" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>