PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioSalas/SalasManejador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SalasManejador" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_ISalasManejador_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ISalasManejador_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8519/Pictionary/Salas?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8519/Pictionary/Salas?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8519/Pictionary/Salas?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" />
      <xsd:import schemaLocation="http://localhost:8519/Pictionary/Salas?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalasManejador_CrearSala_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearSala" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_CrearSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearSalaResponse" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_UnirseSala_InputMessage">
    <wsdl:part name="parameters" element="tns:UnirseSala" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_UnirseSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnirseSalaResponse" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_ObtenerSalas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSalas" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_ObtenerSalas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSalasResponse" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_AbandonarSala_InputMessage">
    <wsdl:part name="parameters" element="tns:AbandonarSala" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_AbandonarSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:AbandonarSalaResponse" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_SuscribirListaSalas_InputMessage">
    <wsdl:part name="parameters" element="tns:SuscribirListaSalas" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_SuscribirListaSalas_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuscribirListaSalasResponse" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_CancelarSuscripcionListaSalas_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarSuscripcionListaSalas" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_CancelarSuscripcionListaSalas_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarSuscripcionListaSalasResponse" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_ExpulsarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:ExpulsarJugador" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_ExpulsarJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExpulsarJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_NotificarJugadorSeUnio_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarJugadorSeUnio" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_NotificarJugadorSalio_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarJugadorSalio" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_NotificarListaSalasActualizada_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarListaSalasActualizada" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_NotificarSalaActualizada_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarSalaActualizada" />
  </wsdl:message>
  <wsdl:message name="ISalasManejador_NotificarJugadorExpulsado_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarJugadorExpulsado" />
  </wsdl:message>
  <wsdl:portType name="ISalasManejador">
    <wsdl:operation name="CrearSala">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalasManejador/CrearSala" message="tns:ISalasManejador_CrearSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalasManejador/CrearSalaResponse" message="tns:ISalasManejador_CrearSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnirseSala">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalasManejador/UnirseSala" message="tns:ISalasManejador_UnirseSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalasManejador/UnirseSalaResponse" message="tns:ISalasManejador_UnirseSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSalas">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalasManejador/ObtenerSalas" message="tns:ISalasManejador_ObtenerSalas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalasManejador/ObtenerSalasResponse" message="tns:ISalasManejador_ObtenerSalas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AbandonarSala">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalasManejador/AbandonarSala" message="tns:ISalasManejador_AbandonarSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalasManejador/AbandonarSalaResponse" message="tns:ISalasManejador_AbandonarSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuscribirListaSalas">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalasManejador/SuscribirListaSalas" message="tns:ISalasManejador_SuscribirListaSalas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalasManejador/SuscribirListaSalasResponse" message="tns:ISalasManejador_SuscribirListaSalas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarSuscripcionListaSalas">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalasManejador/CancelarSuscripcionListaSalas" message="tns:ISalasManejador_CancelarSuscripcionListaSalas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalasManejador/CancelarSuscripcionListaSalasResponse" message="tns:ISalasManejador_CancelarSuscripcionListaSalas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExpulsarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalasManejador/ExpulsarJugador" message="tns:ISalasManejador_ExpulsarJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalasManejador/ExpulsarJugadorResponse" message="tns:ISalasManejador_ExpulsarJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarJugadorSeUnio">
      <wsdl:output wsaw:Action="http://tempuri.org/ISalasManejador/NotificarJugadorSeUnio" message="tns:ISalasManejador_NotificarJugadorSeUnio_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarJugadorSalio">
      <wsdl:output wsaw:Action="http://tempuri.org/ISalasManejador/NotificarJugadorSalio" message="tns:ISalasManejador_NotificarJugadorSalio_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarListaSalasActualizada">
      <wsdl:output wsaw:Action="http://tempuri.org/ISalasManejador/NotificarListaSalasActualizada" message="tns:ISalasManejador_NotificarListaSalasActualizada_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarSalaActualizada">
      <wsdl:output wsaw:Action="http://tempuri.org/ISalasManejador/NotificarSalaActualizada" message="tns:ISalasManejador_NotificarSalaActualizada_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarJugadorExpulsado">
      <wsdl:output wsaw:Action="http://tempuri.org/ISalasManejador/NotificarJugadorExpulsado" message="tns:ISalasManejador_NotificarJugadorExpulsado_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_ISalasManejador" type="tns:ISalasManejador">
    <wsp:PolicyReference URI="#WSDualHttpBinding_ISalasManejador_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearSala">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/CrearSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnirseSala">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/UnirseSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSalas">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/ObtenerSalas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbandonarSala">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/AbandonarSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuscribirListaSalas">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/SuscribirListaSalas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarSuscripcionListaSalas">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/CancelarSuscripcionListaSalas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpulsarJugador">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/ExpulsarJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarJugadorSeUnio">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/NotificarJugadorSeUnio" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarJugadorSalio">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/NotificarJugadorSalio" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarListaSalasActualizada">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/NotificarListaSalasActualizada" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarSalaActualizada">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/NotificarSalaActualizada" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarJugadorExpulsado">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/NotificarJugadorExpulsado" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ISalasManejador" type="tns:ISalasManejador">
    <wsp:PolicyReference URI="#NetTcpBinding_ISalasManejador_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CrearSala">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/CrearSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnirseSala">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/UnirseSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSalas">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/ObtenerSalas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbandonarSala">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/AbandonarSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuscribirListaSalas">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/SuscribirListaSalas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarSuscripcionListaSalas">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/CancelarSuscripcionListaSalas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpulsarJugador">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/ExpulsarJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarJugadorSeUnio">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/NotificarJugadorSeUnio" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarJugadorSalio">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/NotificarJugadorSalio" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarListaSalasActualizada">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/NotificarListaSalasActualizada" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarSalaActualizada">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/NotificarSalaActualizada" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarJugadorExpulsado">
      <soap12:operation soapAction="http://tempuri.org/ISalasManejador/NotificarJugadorExpulsado" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalasManejador">
    <wsdl:port name="WSDualHttpBinding_ISalasManejador" binding="tns:WSDualHttpBinding_ISalasManejador">
      <soap12:address location="http://localhost:8519/Pictionary/Salas/Salas" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8519/Pictionary/Salas/Salas</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ISalasManejador" binding="tns:NetTcpBinding_ISalasManejador">
      <soap12:address location="net.tcp://localhost:8520/Pictionary/Salas/Salas" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8520/Pictionary/Salas/Salas</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>