PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioCambioContrasena/CambiarContrasena1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SolicitudRecuperarCuentaDTO">
    <xs:sequence>
      <xs:element name="Identificador" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudRecuperarCuentaDTO" nillable="true" type="tns:SolicitudRecuperarCuentaDTO" />
  <xs:complexType name="ResultadoSolicitudRecuperacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoEnviado" type="xs:boolean" />
      <xs:element minOccurs="0" name="CorreoDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaEncontrada" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenCodigo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoSolicitudRecuperacionDTO" nillable="true" type="tns:ResultadoSolicitudRecuperacionDTO" />
  <xs:complexType name="ReenvioCodigoDTO">
    <xs:sequence>
      <xs:element name="TokenCodigo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReenvioCodigoDTO" nillable="true" type="tns:ReenvioCodigoDTO" />
  <xs:complexType name="ResultadoSolicitudCodigoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoEnviado" type="xs:boolean" />
      <xs:element minOccurs="0" name="CorreoRegistrado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioRegistrado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoSolicitudCodigoDTO" nillable="true" type="tns:ResultadoSolicitudCodigoDTO" />
  <xs:complexType name="ConfirmacionCodigoDTO">
    <xs:sequence>
      <xs:element name="CodigoIngresado" nillable="true" type="xs:string" />
      <xs:element name="TokenCodigo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmacionCodigoDTO" nillable="true" type="tns:ConfirmacionCodigoDTO" />
  <xs:complexType name="ResultadoOperacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperacionExitosa" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoOperacionDTO" nillable="true" type="tns:ResultadoOperacionDTO" />
  <xs:complexType name="ActualizacionContrasenaDTO">
    <xs:sequence>
      <xs:element name="NuevaContrasena" nillable="true" type="xs:string" />
      <xs:element name="TokenCodigo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActualizacionContrasenaDTO" nillable="true" type="tns:ActualizacionContrasenaDTO" />
</xs:schema>