PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioAmigos/Amigos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultadoOperacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperacionExitosa" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoOperacionDTO" nillable="true" type="tns:ResultadoOperacionDTO" />
  <xs:complexType name="SolicitudAmistadDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstaAceptada" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsuarioEmisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioReceptor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudAmistadDTO" nillable="true" type="tns:SolicitudAmistadDTO" />
  <xs:complexType name="RespuestaSolicitudAmistadDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="SolicitudAceptada" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsuarioEmisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioReceptor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaSolicitudAmistadDTO" nillable="true" type="tns:RespuestaSolicitudAmistadDTO" />
  <xs:complexType name="AmistadEliminadaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="UsuarioA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioB" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmistadEliminadaDTO" nillable="true" type="tns:AmistadEliminadaDTO" />
</xs:schema>