PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioAmigos/Amigos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8086/Pictionary/Amigos?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" />
  <xs:element name="Suscribir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuscribirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarSuscripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarSuscripcionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSolicitudAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuarioEmisor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreUsuarioReceptor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSolicitudAmistadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponderSolicitudAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuarioEmisor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreUsuarioReceptor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponderSolicitudAmistadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAmigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuarioA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreUsuarioB" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAmigoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudActualizada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="solicitud" nillable="true" type="q1:SolicitudAmistadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmistadEliminada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="solicitud" nillable="true" type="q2:SolicitudAmistadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>