PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioAmigos/Amigos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8086/Pictionary/Amigos?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" />
  <xs:element name="EnviarSolicitudAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="solicitud" nillable="true" type="q1:SolicitudAmistadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSolicitudAmistadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="EnviarSolicitudAmistadResult" nillable="true" type="q2:ResultadoOperacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponderSolicitudAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="respuesta" nillable="true" type="q3:RespuestaSolicitudAmistadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponderSolicitudAmistadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="ResponderSolicitudAmistadResult" nillable="true" type="q4:ResultadoOperacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAmigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="solicitud" nillable="true" type="q5:OperacionAmistadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAmigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="EliminarAmigoResult" nillable="true" type="q6:ResultadoOperacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudRecibida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="solicitud" nillable="true" type="q7:SolicitudAmistadNotificacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudActualizada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="solicitud" nillable="true" type="q8:SolicitudAmistadEstadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmigoAgregado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="amigo" nillable="true" type="q9:AmigoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmistadEliminada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="amistadEliminada" nillable="true" type="q10:AmistadEliminadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>