PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioAmigos/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AmigosManejador" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IAmigosManejador_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IAmigosManejador_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAmigosManejador_Suscribir_InputMessage">
    <wsdl:part name="parameters" element="tns:Suscribir" />
  </wsdl:message>
  <wsdl:message name="IAmigosManejador_Suscribir_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuscribirResponse" />
  </wsdl:message>
  <wsdl:message name="IAmigosManejador_CancelarSuscripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarSuscripcion" />
  </wsdl:message>
  <wsdl:message name="IAmigosManejador_CancelarSuscripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarSuscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="IAmigosManejador_EnviarSolicitudAmistad_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSolicitudAmistad" />
  </wsdl:message>
  <wsdl:message name="IAmigosManejador_EnviarSolicitudAmistad_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSolicitudAmistadResponse" />
  </wsdl:message>
  <wsdl:message name="IAmigosManejador_ResponderSolicitudAmistad_InputMessage">
    <wsdl:part name="parameters" element="tns:ResponderSolicitudAmistad" />
  </wsdl:message>
  <wsdl:message name="IAmigosManejador_ResponderSolicitudAmistad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResponderSolicitudAmistadResponse" />
  </wsdl:message>
  <wsdl:message name="IAmigosManejador_EliminarAmigo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAmigo" />
  </wsdl:message>
  <wsdl:message name="IAmigosManejador_EliminarAmigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAmigoResponse" />
  </wsdl:message>
  <wsdl:message name="IAmigosManejador_NotificarSolicitudActualizada_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarSolicitudActualizada" />
  </wsdl:message>
  <wsdl:message name="IAmigosManejador_NotificarAmistadEliminada_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarAmistadEliminada" />
  </wsdl:message>
  <wsdl:portType name="IAmigosManejador">
    <wsdl:operation name="Suscribir">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmigosManejador/Suscribir" message="tns:IAmigosManejador_Suscribir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmigosManejador/SuscribirResponse" message="tns:IAmigosManejador_Suscribir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarSuscripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmigosManejador/CancelarSuscripcion" message="tns:IAmigosManejador_CancelarSuscripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmigosManejador/CancelarSuscripcionResponse" message="tns:IAmigosManejador_CancelarSuscripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarSolicitudAmistad">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmigosManejador/EnviarSolicitudAmistad" message="tns:IAmigosManejador_EnviarSolicitudAmistad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmigosManejador/EnviarSolicitudAmistadResponse" message="tns:IAmigosManejador_EnviarSolicitudAmistad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResponderSolicitudAmistad">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmigosManejador/ResponderSolicitudAmistad" message="tns:IAmigosManejador_ResponderSolicitudAmistad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmigosManejador/ResponderSolicitudAmistadResponse" message="tns:IAmigosManejador_ResponderSolicitudAmistad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAmigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmigosManejador/EliminarAmigo" message="tns:IAmigosManejador_EliminarAmigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmigosManejador/EliminarAmigoResponse" message="tns:IAmigosManejador_EliminarAmigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarSolicitudActualizada">
      <wsdl:output wsaw:Action="http://tempuri.org/IAmigosManejador/NotificarSolicitudActualizada" message="tns:IAmigosManejador_NotificarSolicitudActualizada_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarAmistadEliminada">
      <wsdl:output wsaw:Action="http://tempuri.org/IAmigosManejador/NotificarAmistadEliminada" message="tns:IAmigosManejador_NotificarAmistadEliminada_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IAmigosManejador" type="tns:IAmigosManejador">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IAmigosManejador_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Suscribir">
      <soap12:operation soapAction="http://tempuri.org/IAmigosManejador/Suscribir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarSuscripcion">
      <soap12:operation soapAction="http://tempuri.org/IAmigosManejador/CancelarSuscripcion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarSolicitudAmistad">
      <soap12:operation soapAction="http://tempuri.org/IAmigosManejador/EnviarSolicitudAmistad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResponderSolicitudAmistad">
      <soap12:operation soapAction="http://tempuri.org/IAmigosManejador/ResponderSolicitudAmistad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAmigo">
      <soap12:operation soapAction="http://tempuri.org/IAmigosManejador/EliminarAmigo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarSolicitudActualizada">
      <soap12:operation soapAction="http://tempuri.org/IAmigosManejador/NotificarSolicitudActualizada" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarAmistadEliminada">
      <soap12:operation soapAction="http://tempuri.org/IAmigosManejador/NotificarAmistadEliminada" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IAmigosManejador" type="tns:IAmigosManejador">
    <wsp:PolicyReference URI="#NetTcpBinding_IAmigosManejador_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Suscribir">
      <soap12:operation soapAction="http://tempuri.org/IAmigosManejador/Suscribir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarSuscripcion">
      <soap12:operation soapAction="http://tempuri.org/IAmigosManejador/CancelarSuscripcion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarSolicitudAmistad">
      <soap12:operation soapAction="http://tempuri.org/IAmigosManejador/EnviarSolicitudAmistad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResponderSolicitudAmistad">
      <soap12:operation soapAction="http://tempuri.org/IAmigosManejador/ResponderSolicitudAmistad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAmigo">
      <soap12:operation soapAction="http://tempuri.org/IAmigosManejador/EliminarAmigo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarSolicitudActualizada">
      <soap12:operation soapAction="http://tempuri.org/IAmigosManejador/NotificarSolicitudActualizada" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarAmistadEliminada">
      <soap12:operation soapAction="http://tempuri.org/IAmigosManejador/NotificarAmistadEliminada" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmigosManejador">
    <wsdl:port name="WSDualHttpBinding_IAmigosManejador" binding="tns:WSDualHttpBinding_IAmigosManejador">
      <soap12:address location="https://192.168.101.15:8086/Pictionary/Amigos/Amigos" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://192.168.101.15:8086/Pictionary/Amigos/Amigos</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IAmigosManejador" binding="tns:NetTcpBinding_IAmigosManejador">
      <soap12:address location="net.tcp://192.168.101.15:8096/Pictionary/Amigos/Amigos" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.101.15:8096/Pictionary/Amigos/Amigos</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>